<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DRAutoWorksDBInstall</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DBInsServlet</display-name>
    <servlet-name>DBInsServlet</servlet-name>
    <servlet-class>com.Drauworksdbinstall.DBInsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBInsServlet</servlet-name>
    <url-pattern>/DBInsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBinsServlet</display-name>
    <servlet-name>DBinsServlet</servlet-name>
    <servlet-class>com.DatabaseInstalation.DBinsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBinsServlet</servlet-name>
    <url-pattern>/DBinsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataBaseInsServlet</display-name>
    <servlet-name>DataBaseInsServlet</servlet-name>
    <servlet-class>com.Drauworksdbinstall.DataBaseInsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataBaseInsServlet</servlet-name>
    <url-pattern>/DataBaseInsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>customersignup</display-name>
    <servlet-name>customersignup</servlet-name>
    <servlet-class>com.Drauworksdbinstall.customersignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customersignup</servlet-name>
    <url-pattern>/customersignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerSignUp</display-name>
    <servlet-name>CustomerSignUp</servlet-name>
    <servlet-class>com.Drauworksdbinstall.CustomerSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSignUp</servlet-name>
    <url-pattern>/CustomerSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.Drauworksdbinstall.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserProfileServlet</display-name>
    <servlet-name>UserProfileServlet</servlet-name>
    <servlet-class>com.Drauworksdbinstall.UserProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserProfileServlet</servlet-name>
    <url-pattern>/UserProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonServlet</display-name>
    <servlet-name>CommonServlet</servlet-name>
    <servlet-class>com.Drauworksdbinstall.CommonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonServlet</servlet-name>
    <url-pattern>/CommonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletbookregistration</display-name>
    <servlet-name>servletbookregistration</servlet-name>
    <servlet-class>com.Drauworksdbinstall.servletbookregistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletbookregistration</servlet-name>
    <url-pattern>/servletbookregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationStatus</display-name>
    <servlet-name>RegistrationStatus</servlet-name>
    <servlet-class>com.Drauworksdbinstall.RegistrationStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationStatus</servlet-name>
    <url-pattern>/RegistrationStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationStatusdetviwServlet</display-name>
    <servlet-name>RegistrationStatusdetviwServlet</servlet-name>
    <servlet-class>com.Drauworksdbinstall.RegistrationStatusdetviwServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationStatusdetviwServlet</servlet-name>
    <url-pattern>/RegistrationStatusdetviwServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfupdServlet</display-name>
    <servlet-name>ProfupdServlet</servlet-name>
    <servlet-class>com.Drauworksdbinstall.ProfupdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfupdServlet</servlet-name>
    <url-pattern>/ProfupdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HealthStatusServlet</display-name>
    <servlet-name>HealthStatusServlet</servlet-name>
    <servlet-class>com.Drauworksdbinstall.HealthStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HealthStatusServlet</servlet-name>
    <url-pattern>/HealthStatusServlet</url-pattern>
  </servlet-mapping>
</web-app>